<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../css/loginv2.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/57045c6330.js" crossorigin="anonymous"></script>
    <title>Login Page</title>
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-img">
                <img src="../img/login/login_img.jpg">
            </div>

            <div id="signup-content" class="content">
                <form action="index.html">
                    <div class="logo">
                        <a href="index"><img src="../img/login/logo.svg"></a>
                    </div>
                    <h2>Rejestracja</h2>
                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <h5>Login</h5>
                                <input type="text" class="input">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i"> 
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="div">
                               <h5>E-mail</h5>
                               <input type="email" class="input">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5>Hasło</h5>
                                <input type="password" class="input">
                            </div>
                        </div>

                        <div class="input-div">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5>Powtórz hasło</h5>
                                <input type="password" class="input">
                            </div>
                        </div>

                    <input type="submit" class="btn" value="Zarejestruj się">
                </form>
            </div>

            <div id="signup-img-shadow" class="login-img-shadow">
                <div class="login-img-text">
                    <h3>Witamy ponownie!</h3>
                    Aby przejść do dalszej sekcji zaloguj się ponownie
                </div>

                <a class="login-register-switch-button" href="login"><p>Zaloguj się</p></a>

                <div class="login-change-language">
                    Zmień język / Change language
                    <div class="login-flags">
                        <img alt="polish" src="../img/login/Polish_flag.png">
                        <img alt="english" src="../img/login/english_flag.png">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script type="text/javascript" src="../scripts/loginv2.js"></script>
</body>