<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../css/upload.css">

    <title>Login Page</title>
</head>

<body>
    <div class="upload-container">
        <div class="upload-box">
            <div class="login-content">
                <form action="index.html">
                    <div class="logo">
                        <a href="index"><img src="../img/login/logo.svg"></a>
                    </div>
                    <h2>Utwórz nową kategorie</h2>
                    <div class="input-div">
                        <div>
                            <h5>Tytuł</h5>
                            <input type="text" class="input">
                        </div>
                    </div>

                    <div class="input-div">
                        <div>
                            <h5>Opis</h5>
                            <input type="password" class="input">
                        </div>
                    </div>

                    <div class="input-div">
                        <div>
                            <h5>Kategoria</h5>
                            <input type="password" class="input">
                        </div>
                    </div>

                    <div class="input-div">
                        <div>
                            <h5>Ikonka</h5>
                            <input type="File" class="file-upload input">
                        </div>
                    </div>

                    <div class="input-div">
                        <div>
                            <h5>Tło</h5>
                            <input type="File" class="file-upload input">
                        </div>
                    </div>

                    <!-- <a href="#">Forgot Password?</a> -->

                    <input type="submit" class="btn" value="Prześlij">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../scripts/upload.js"></script>
</body>